@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montreal";
  src: url("../public/Font/NeueMontreal-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("../public/Font/NeueMontreal-Book.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("../public/Font/NeueMontreal-Thin.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "Montreal" !important;
}

.home-hero-gradient {
  background: linear-gradient(
    258deg,
    #131b24 45.18%,
    #052460 63.72%,
    #036fd0 126.02%
  );
}

.cta-home-gradient {
  background: linear-gradient(215deg, #d4dfe9 31.99%, #f2f6fa 84.18%),
    linear-gradient(0deg, #d4dfe9 0%, #d4dfe9 100%),
    linear-gradient(0deg, #d4dfe9 0%, #d4dfe9 100%), #d4dfe9;
}

.banks-home-gradient {
  background: linear-gradient(
      48deg,
      #052460 -1.18%,
      #036fd0 53.51%,
      #00aeef 98.43%
    ),
    #036fd0;
}

.all-solution-home-gradient {
  background: linear-gradient(215deg, #d4dfe9 31.99%, #f2f6fa 84.18%), #d4dfe9;
}

.stats-home-gradient {
  background: linear-gradient(90deg, #052460 0%, #036fd0 58%, #00aeef 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* For webkit browsers like Safari and Chrome */
  color: transparent; /* Fallback for other browsers */
  display: inline-block; /* Necessary for background clip to work */
}

.history-swiper.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #036fd0;
}

.history-swiper.swiper-pagination-bullet {
  background-color: red !important;
  opacity: 0.7;
}

.navbar-dropdown-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
